doctype html
html
  head
    link(rel="stylesheet", type="text/css", href="../study/add_book.css")
    meta(charset="utf-8")
    title 책 추가하기
  body
    ul
      li(id="add_book")  책 추가하기
      li#save 저장
    hr#hr1
    div(id="search_book") 책 검색하기
    img(src="../bookex.jpg")
    #inf
      ul
        li 도서명
        hr
        li 지은이
        hr
        li 출판사
        hr
    #review 감상평
    #input 입력해 주세요.