.add .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}

.add .container {
  display: flex;
  flex-direction: column;
}

.add__form {
  display: flex;
}
.add__form .add__form-image {
  width: 20rem;
  height: 25rem;
}
.add__form .add__form-inputs {
  flex: 1;
  margin: 0 0 0 2rem;
}

.book_experience {
  width: 100%;
  height: 10rem;
  border: 1px solid #141E61;
  border-radius: 0.75rem;
  resize: none;
}

.modal .search {height:auto;}
.modal .search .search__input {
  width: calc(100% - 3.25rem);
  margin: 0;
}
.modal .search_result {
  overflow-y: auto;
  max-height: 7.5rem;
  margin: 1.5rem 0 0;
}