.bookshelf .search .search__input {
  margin: 0;
}
.bookshelf .btn_wrap {
  display: flex;
  justify-content: flex-end;
  margin: 50px 0 0;
}

.columnBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 1rem 1rem 1rem 1rem;
}
.column .column-image {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}
.column .column-image img {
  width: 150px;
  height: 200px;
}
.column .column-text {
  padding: 1rem;
}
.column .aboutBook {
  font-size: 12px;
  color: gray
}
.column .aboutBook {
  font-size: 12px;
  color: gray
}
.column .publisher{
  margin-top: 1rem;
  font-size: 12px;
}